# Operating system
.DS_Store
Thumbs.db

# Gradle
.gradle/
**/build/

# Kotlin
.kotlin/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.classpath
.project
.settings/

# Visual Studio Code
.vscode/

# Paper development server
run/

# Logs and JVM crash dumps
*.log
hs_err_pid*
replay_pid*
*.hprof

# Temporary files
*.tmp
*.temp
*.swp
*~